.page {

  display: grid;
  justify-content: center;
  grid-template-columns: 880px;


  background-color: black;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

@media screen and (max-width: 1023px) {
  .page {

    grid-template-columns: 320px;

  }
}