.profile__employment {
    max-width: 400px;

    margin: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



@media screen and (max-width: 1023px) {
    .profile__employment {
        max-width: 200px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: 0 0 31px 0;

    }
}