.cards {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 18px;

    margin: 0;
    padding: 0;
    list-style-type: none;

}

@media screen and (max-width: 1023px) {
    .cards {
        grid-template-columns: 282px;
        justify-content: center;

    }
}