.not-login-page__field {
  width: 100%;
  height: 27px;
  background-color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  margin: 0 auto 0 auto;

  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding: 0 0 13px 0;
}

@media screen and (max-width: 1023px) {
  .not-login-page__field {
    width: 238px;
  }
}
