.footer {
  margin: 68px auto 60px 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-self: end;

  color: #545454;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 48px auto 36px 20px;

    font-size: 14px;
    line-height: 17px;
  }
}
