.not-login-page__submit {
  width: 358px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 20px auto 0 auto;
  padding: 14px 0;
  background: #ffffff;
  border: none;
  opacity: 1;
  transition: opacity 0.2s ease-out 0.2s;
  align-self: end;
}

.not-login-page__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .not-login-page__submit {
    width: 238px;
    margin: auto;
    font-size: 14px;
    line-height: 17px;
  }
}
