.popup__close-popup {
  width: 32px;
  height: 32px;

  position: absolute;
  right: -40px;
  top: -40px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/close-icon.svg);
  background-size: cover;

  opacity: 1;
  transition: opacity 0.2s ease-out 0.2s;

  margin: 0;
  padding: 0;
  border: none;
}

.popup__close-popup:hover {
  opacity: 0.6;
  cursor: pointer;
}


@media screen and (max-width: 1023px) {
  .popup__close-popup {
    width: 20px;
    height: 20px;

    right: 0;


  }
}